# Игнорировать виртуальное окружение Python
.venv/
venv/
env/

# Игнорировать файлы кэша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы настроек IDE
.vscode/
.idea/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать файлы зависимостей (если они уже установлены в контейнере)
node_modules/
bower_components/

# Игнорировать файлы сборки и дистрибуции
dist/
build/
*.egg-info/

# Игнорировать локальные конфигурации
.env
.env.local

# Игнорировать системные файлы
.DS_Store
Thumbs.db